<% @employee.all.each do |employee|%>
    <div id= "element3" >
    <%=link_to "#{employee.first_name} #{employee.last_name} ", employee_path(employee), :confirm => "schedule an appointment with #{employee.first_name}."%>
    <br>
    <div class="frame">
    <% if employee.avatar.attached?%>
    <image src="<%=(url_for(employee.avatar))%>"> 
    <% end%>
    </div>
    </div>

    <% end%>
