<h2><center>Welcome</center></h2>
<small><center><em>Loyal, Alert, Affectionate, <u>Yours.</u></em></center></small>
<h3><center>Login to Breeded Shelter!</center></h3>

<%= render 'sessions/login'%>
