<% if @appointment.errors.any? %>
<div id="error_explanation">
    <h2>
      Please adjust <%= pluralize(@appointment.errors.count, "error") %>
      before we reserve your appointment.
    </h2>
 
    <ul>
    <% @appointment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
