<%=render '/layouts/new_appointment'%>
<section class="details_plus">
<br>
<small>------------------------</small><br>
<br>
<center> You'll Meet with: <%=@employee.first_name%>. <br/>
<br>
<em> "Introductions are made between 9am and 1pm, Monday through Thursday. Please Call us if your schedule prohibits these hours."</em></center>


</section>